<%- include('./partials/head'); %>

<%- include('./partials/header'); %>

<div class="conteiner">
    <div class="cadastro mb-4">
        <h1 class="form-titulo">Editar as informações do evento</h1>
        <% if(typeof(errors) != 'undefined'){ %> 
            <ul>
                <% errors.forEach((error)=>{ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error.msg %> 
                      </div>
               <% }) %> 
            </ul>
        <% } %> 
        <form class="form-horizontal formulario" action="/events/edit/<%= evento.id %>" method="post">
            <div class="form-group row">
            <div class="col-sm-12">
                <input placeholder="Nome do evento" type="text" class="form-control" name="nome" value="<%= evento.nome %> ">
            </div>
            </div>
            <div class="form-group row">
            <div class="col-sm-9">
                <input placeholder="Tema do evento"type="text" class="input-cadastro" name="tema" value="<%= evento.tema %> ">
            </div>   
            </div>

            <div class="form-group row"> 
            <div class="col-sm-9">
                <input placeholder="Data de início: XX/XX/XXXX"type="date" class="input-cadastro" name="data_inicio" value="<%= evento.data_inicio %> ">   
            </div>
            </div>
            
            <div class="form-group row">
            <div class="col-sm-9">
                <input placeholder="Data do fim: XX/XX/XXXX"type="date" class="input-cadastro" name="data_fim" value="<%= evento.data_fim %> ">
            </div>
            </div>

            <div class="form-group row">
            <div class="col-sm-9">
                <input placeholder="Horário do início: 00:00"type="text" class="input-cadastro" name="hora_inicio" value="<%= evento.hora_inicio %> ">
            </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-9">
                    <input placeholder="Horário do término: 00:00" type="text" class="input-cadastro" name="hora_fim" value="<%= evento.hora_fim %> ">
                </div>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">R$</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Preço" name="preco" value="<%= evento.preco %> ">
                    <div class="input-group-append">
                      <span class="input-group-text">.00</span>
                    </div>
            </div>  

            <div class="form-group row">    
                <div class="col-sm-9">
                    <input placeholder="Data início das vendas: XX/XX/XXXX"type="date" class="input-cadastro" name="inicio_vendas" value="<%= evento.inicio_vendas %> ">
                </div>
                </div>  
                 <div class="form-buttons">
                    <button type="submit">Salvar alterações</button>
                    <button><a href="/events/list">Cancelar</a></button>
                 </div>
                
            </form>

            

    </div>
</div>
    


<%- include('./partials/footer'); %>