<%- include('./partials/head'); %>

<body>
  <%- include('./partials/header'); %>
  <main class="search-area">

    
    <form class="form-horizontal formulario form-pesquisa" action="/events/SearchResult" method="GET">
        <div class="form-group row">
            <div class="col-sm-12">
                <input placeholder="Encontre seu evento aqui..." type="text" class="form-control search-input" name="key">
            </div>
        </div>
        <button class="search-button" type="submit">Buscar</button>
    </form>

    <div class="container events-list">
      
        <% events.forEach(function(event) { %>
         
          <div class="card card-events" style="width: 18rem;">
            <img class="card-img-top" src="/img/<%= event.link_imagem %> " alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= event.nome %> </h5>
              <p class="card-text">Tema: <%= event.tema %> </p>
              <p class="card-text">Começa em: <%= event.data_inicio %></p>
              <p class="card-text">Preço: R$ <%= event.preco %>,00 </p>
            </div>
            <div class="card-body">
              <a href="#" class="btn btn-primary">Inscreva-se</a>
              <a href="/events/edit/<%= event.id %> " class="btn btn-secondary">Editar evento</a>
              <form action="/events/delete/<%= event.id %> " method="post">
                 <button class="submit btn btn-danger">Excluir evento</button>
              </form>
            </div>
          </div>
      <%  })%> 
      </div>
      
  
    
  </main>
  

</body>
<%- include('./partials/footer'); %>